<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml%22"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>[[#{articulo.datos}]]</h2>
            <a th:href="@{/articulo/nuevo}">[[#{articulo.nuevo}]]</a>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>[[#{articulo.descripcion}]]</th>
                            <th>[[#{articulo.detalle}]]</th>
                            <th>[[#{articulo.precio}]]</th>
                            <th>E[[#{articulo.existencias=}]]</th>
                            <th>[[#{articulo.activo}]]</th>
                            <th>[[#{accion.eliminar}]]</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <th>[[${articulo. idCategoria}]]</th>
                            <th>[[${articulo.descripcion}]]</th>
                            <th>[[${articulo.detalle}]]</th>
                            <th>[[${articulo.precio}]]</th>
                            <th>[[${articulo.existencias}]]</th>
                            <th>[[${articulo.activo}]]</th>
                            <th> <a th:href="@{/articulo/elimina/} + ${articulo.idArticulo}">[[#{accion.eliminar}]]</a> </th>
                            <th> <a th:href="@{/articulo/actualiza/} + ${articulo.idArticulo}">[[#{accion.actualizar}]]</a> </th>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${articulos == null or articulos.empty}">
                <h3>[[#{articulo.no_mostrar}]]</h3>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer">

    </body>
</html>
