<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml%22">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos de Articulos</h2>
            <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th>Descripción</th>
                            <th>Detalle</th>
                            <th>Precio</th>
                            <th>Existencias</th>
                            <th>Activo</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <th>[[${articulo. idCategoria}]]</th>
                            <th>[[${articulo.descripcion}]]</th>
                            <th>[[${articulo.detalle}]]</th>
                            <th>[[${articulo.precio}]]</th>
                            <th>[[${articulo.existencias}]]</th>
                             <th>[[${articulo.activo}]]</th>
                            <th> <a th:href="@{/articulo/elimina/} + ${articulo.idArticulo}">Elimina</a> </th>
                            <th> <a th:href="@{/articulo/actualiza/} + ${articulo.idArticulo}">Actualiza</a> </th>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${articulos == null or articulos.empty}">
                <h3>No tenemos articulos que mostar</h3>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer">

    </body>
</html>
