<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml%22">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos de Articulos</h2>
            <a th:href="@{/articulo/listado}">Regresar</a>
            </hr>

            <form th:action="@{/articulo/guardar}"
                  method="post"
                  th:object="${articulo}">
                <input type="hidden" name="idArticulo" th:field="*{idArticulo}">
                <fieldset>
                    <label for="categoria">Categoria</label>
                    <input type="text" name="categoria" placeholder="Categoria" th:field="*{idCategoria}"/>
                </fieldset>

                <fieldset>
                    <label for="descripcion">Descripcion</label>
                    <input type="text" name="Descripcion" placeholder="Descripcion" th:field="*{descripcion}"/>
                </fieldset>

                <fieldset>
                    <label for="detalle">Detalle</label>
                    <input type="text" name="detalle" placeholder="Detalle Electronico" th:field="*{detalle}"/>
                </fieldset>

                <fieldset>
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" th:field="*{precio}"/>
                </fieldset>
                <hr/>
                <fieldset>
                    <label for="existencias">Existencias</label>
                    <input type="number" name="existencias" th:field="*{existencias}"/>
                </fieldset>
                <hr/>
                <fieldset>
                    <label for="activo">Activo</label>
                    <input type="text" name="activo" th:field="*{activo}"/>
                </fieldset>
                <hr/>
                <input type="submit" name="guardar" value="guardar"/>
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer">
    </body>
</html>