<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml%22"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>[[#{categoria.datos}]]</h2>
            <a th:href="@{/categoria/listado}">[[#{accion.regresar}]]</a>
            </hr>

            <form th:action="@{/categoria/guardar}"
                  method="post"
                  th:object="${categoria}">
                <input type="hidden" name="idCategoria" th:field="*{idCategoria}">
                <fieldset>
                    <label for="nombre">[[#{categoria.descripcion}]]</label>
                    <input type="text" name="descripcion" placeholder="descripcion" th:field="*{descripcion}"/>
                </fieldset>

                <fieldset>
                    <label for="apellidos">[[#{categoria.activo}]]</label>
                    <input type="text" name="activo" placeholder="activo" th:field="*{activo}"/>
                </fieldset>
                <hr/>
                <button type="submit" th:text="#{accion.guardar}"/>
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer">
    </body>
</html>