<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml%22"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>[[#{index.titulo}]]</h2>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>[[#{articulo.descripcion}]]</th>
                            <th>[[#{articulo.precio}]]</th>
                            <th>[[#{articulo.comprar}]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <th>[[${articulo.descripcion}]]</th>
                            <th style="text-align: right">[[${#numbers.formatDecimal(articulo.precio,3,2)}]]</th>
                            <th> <a th:href="@{/carrito/comprar/} + ${articulo.idArticulo}">[[#{articulo.comprar}]]</a> </th>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${articulos == null or articulos.empty}">
                <h3>[[#{articulo.no_mostrar}]]</h3>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer">

    </body>
</html>
